In [1]:
import numpy as np
import pandas as pd

In [50]:
what = "투자주의"

In [51]:
df = pd.read_csv("label_data/{}_2012_2022.csv".format(what), index_col=0).sort_values("공시일",axis=0).reset_index(drop=True)

df = df.loc[~df["보고서명"].str.endswith("우)")]
df = df.loc[~df["보고서명"].str.endswith("우B)")]
df = df.loc[~df["보고서명"].str.endswith("CJ4우(전환))")]
df = df.loc[~df["보고서명"].str.contains("ETN")]

df2 = df.reset_index(drop=True)

In [52]:
df2.to_csv("label_data/{}_전체시장_우선주제거.csv".format(what))

In [77]:
### 투자주의 데이터 확인

#df_daq = pd.read_csv("투자주의_코스닥_2012-2022.csv", index_col=0)
df = pd.read_csv("C:\\Jehyeon\\2022_Winter_KRX\\KRX\\투자주의_코스닥_2012-01-01-2012-12-31.csv", index_col=0)
df["보고서명"].unique()
#df.loc[df["보고서명"].str.contains("ETN")]

array(['[투자주의]소수지점ㆍ소수계좌 거래집중 종목', '[투자주의]종가급변종목', '[투자주의]상한가잔량 상위종목',
       '[투자주의]단일계좌 거래량 상위종목', '[투자주의]15일간 예방조치 과다종목',
       '[투자주의]15일간 상승종목의 당일 소수계좌 매수관여 과다종목'], dtype=object)

In [71]:
df = pd.merge(df_daq,df_pi, left_on="현재공시코드",right_on="현재공시코드", how="outer")

df.loc[df.isna().sum(axis=1) >=1]["보고서명_x"].unique()

array(['[ETN 투자주의]소수지점ㆍ소수계좌 거래집중 종목', '[ETN 투자주의]특정계좌(군) 매매관여 과다종목'],
      dtype=object)

## 2012-2022 데이터를 합치기

In [162]:
full = pd.DataFrame()
for year in range(2012,2023):
    globals()["df"+str(year)] = pd.read_csv("투자주의_코스닥_{}-01-01-{}-12-31.csv".format(year,year), index_col=0)
    full = pd.concat([globals()["df"+str(year)], full])
full = full.sort_values("공시일").reset_index(drop=True)

In [168]:
full["기업코드"] = full["기업코드"].apply(lambda x: "A"+str(x).zfill(6))

In [170]:
full.to_csv("투자주의_코스닥_2012_2022.csv")

### 코스닥, 코스피 데이터 합치기

In [173]:
df1 = pd.read_csv("투자주의_코스닥_2012_2022.csv", index_col=0)
df2 = pd.read_csv("투자주의_코스피_2012-2022.csv", index_col=0)

In [176]:
df3 = pd.concat([df1,df2]).sort_values("공시일").reset_index(drop=True)

df3.to_csv("투자주의_2012_2022.csv")

## 데이터 전체 점검

In [79]:
import os

In [142]:
path = "C:\\JeHyeon_File\\데이터\\KIND데이터(2012_2022)"
file_name_list = os.listdir(path)
file_dict = {}
for name in file_name_list:
    file_dict[name[:-14]] = pd.read_csv("{}\\{}".format(path, name), index_col=0)
file_dict.keys()

dict_keys(['BW', 'CB', '관리종목', '불성실공시법인지정', '상호변경', '업종변경', '자기주식처분결정', '조회공시요구', '최대주주변경', '타법인주식및출자증권취득결정', '투자경고종목지정', '투자위험종목지정', '투자주의환기종목지정', '특수관계인에대한자금대여', '횡령배임사실확인', '횡령배임혐의발생', '횡령배임혐의발생_201'])

In [139]:
read_what = "투자위험종목지정"
df = file_dict[read_what].loc[~file_dict[read_what]["보고서명"].str.endswith("우)")].reset_index(drop=True)
df = df.loc[~df["보고서명"].str.endswith("우B)")].reset_index(drop=True)
#df.to_csv("{}\\{}.csv".format(path,name))
df

          회사명   기업공시코드         공시일       보고서명
0      팜젠사이언스  A004720  2012-02-15  투자위험종목 지정
1        써니전자  A004770  2012-04-20  투자위험종목 지정
2        써니전자  A004770  2013-01-15  투자위험종목 지정
3      브이티지엠피  A018290  2012-06-19  투자위험종목 지정
4        녹십자셀  A031390  2012-07-04  투자위험종목 지정
..        ...      ...         ...        ...
85     하이드로리튬  A101670  2022-09-30  투자위험종목 지정
86     베트남개발1  A096300  2022-10-06  투자위험종목 지정
87       어반리튬  A073570  2022-10-06  투자위험종목 지정
88       인디에프  A014990  2022-11-10  투자위험종목 지정
89  한국ANKOR유전  A152550  2022-12-26  투자위험종목 지정

[90 rows x 4 columns]

In [137]:
df.to_csv("투자위험종목지정_2012_2022.csv")

In [140]:
file_dict[read_what]["보고서명"].unique()

array(['투자위험종목 지정'], dtype=object)

### 금융 시계열 형태로 변환하기

* 투자주의 투자위험 투자주의환기종목 투자경고종목

In [199]:
what  = "횡령배임혐의발생"
df = pd.read_csv("label_data/{}_2012_2022.csv".format(what), index_col=0)

df["기업공시코드"] = df["기업공시코드"].apply(lambda x: "A"+str(x).zfill(6))
# zfill(6)으로 변경

cross_df = pd.crosstab(df["공시일"], df["기업공시코드"])
cross_df.to_csv("{}카운트_전체시장.csv".format(what))

라벨수정

In [207]:
cross_df = { "횡령":cross_df}

In [208]:
cross_df

{'횡령': 기업공시코드      A000240  A000360  A000470  A000640  A000880  A001070  A001440  \
 공시일
 2012-01-06        0        0        0        0        0        0        0
 2012-01-10        0        0        0        0        0        0        0
 2012-01-26        0        0        0        0        0        0        1
 2012-02-03        0        0        0        0        1        0        0
 2012-02-21        0        0        0        0        0        0        0
 ...             ...      ...      ...      ...      ...      ...      ...
 2022-11-29        0        0        0        0        0        0        0
 2022-12-01        0        0        0        0        0        0        0
 2022-12-06        0        0        0        0        0        0        0
 2022-12-08        0        0        0        0        0        0        0
 2022-12-21        0        0        0        0        0        0        0

 기업공시코드      A001470  A001520  A001740  ...  A215600  A219750  A220630  \
 공시일                                    ...
 2012-01-06        0        0        0  ...        0        0        0
 2012-01-10        0        0        0  ...        0        0        0
 2012-01-26        0        0        0  ...        0        0        0
 2012-02-03        0        0        0  ...        0        0        0
 2012-02-21        0        0        0  ...        0        0        0
 ...             ...      ...      ...  ...      ...      ...      ...
 2022-11-29        0        0        0  ...        0        0        0
 2022-12-01        0        0        0  ...        0        0        0
 2022-12-06        0        0        0  ...        0        1        0
 2022-12-08        0        0        0  ...        0        0        0
 2022-12-21        0        0        0  ...        0        0        0

 기업공시코드      A223310  A257370  A263920  A267850  A298690  A352940  A950160
 공시일
 2012-01-06        0        0        0        0        0        0        0
 2012-01-10        0        0        0        0        0        0        0
 2012-01-26        0        0        0        0        0        0        0
 2012-02-03        0        0        0        0        0        0        0
 2012-02-21        0        0        0        0        0        0        0
 ...             ...      ...      ...      ...      ...      ...      ...
 2022-11-29        0        0        0        0        0        0        0
 2022-12-01        0        0        0        0        0        0        0
 2022-12-06        0        0        0        0        0        0        0
 2022-12-08        0        0        0        0        0        0        0
 2022-12-21        0        0        0        0        0        0        0

 [289 rows x 209 columns]}

In [2]:
import os
import numpy as np
import pandas as pd 
from krx_fr.preprocess import tools, scaler
from krx_fr.cluster.kmeans import MyKmeans

In [5]:
kind_data = tools.read_data_from_folder("C:\\Jehyeon\\2022_Winter_KRX\\KRX\\Use_data\\KIND\\")
financial_data = tools.read_data_from_folder("C:\\Jehyeon\\2022_Winter_KRX\\KRX\\Use_data\\재무\\")

kind_data["BW금액_전체시장"]

,A000040,A000220,A000250,A000300,A000390,A000420,A000520,A000640,A000890,A001020,...,A304100,A317870,A321820,A332570,A348370,A900050,A900080,A900100,A900110,A900120
공시일,,,,,,,,,,,,,,,,,,,,,
2012-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012-01-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
see = financial_data["총자본"]
see

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-28,2.360772e+09,1.263030e+08,2.657442e+09,-14553934.00,7.608496e+07,1.225921e+08,NaN,2.022708e+08,NaN,2.907332e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,2.360772e+09,1.263030e+08,2.657442e+09,-14553934.00,7.608496e+07,1.225921e+08,NaN,2.022708e+08,NaN,2.907332e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,2.955748e+10,3.652476e+08,2.412578e+10,47885407.29,7.687401e+08,1.009544e+09,2.471238e+09,1.112067e+09,NaN,1.935133e+09,...,42545499.0,661635739.0,90157735.0,33409905.0,24966475.0,241976301.0,104794634.0,34667007.0,429935856.0,140915532.0
2022-09-30,2.955748e+10,3.652476e+08,2.412578e+10,47885407.29,7.687401e+08,1.009544e+09,2.471238e+09,1.112067e+09,NaN,1.935133e+09,...,42545499.0,661635739.0,90157735.0,33409905.0,19096016.0,241976301.0,104794634.0,34667007.0,429935856.0,140915532.0
2022-10-31,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0
2022-11-30,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0
2022-12-31,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0

In [16]:
np.nanmean(see,axis=0)

C:\Users\user\AppData\Local\Temp\ipykernel_4604\2265508745.py:1: RuntimeWarning: Mean of empty slice
  np.nanmean(see,axis=0)

array([1.50253550e+10, 2.17614034e+08, 1.46719283e+10, ...,
       1.61794606e+07, 4.30700763e+08, 1.17037668e+08])

In [ ]:
see.loc[see.mam]

In [21]:
see

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A950110,A950130,A950140,A950160,A950170,A950180,A950190,A950200,A950210,A950220
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-28,2.360772e+09,1.263030e+08,2.657442e+09,-14553934.00,7.608496e+07,1.225921e+08,NaN,2.022708e+08,NaN,2.907332e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,2.360772e+09,1.263030e+08,2.657442e+09,-14553934.00,7.608496e+07,1.225921e+08,NaN,2.022708e+08,NaN,2.907332e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,2.955748e+10,3.652476e+08,2.412578e+10,47885407.29,7.687401e+08,1.009544e+09,2.471238e+09,1.112067e+09,NaN,1.935133e+09,...,42545499.0,661635739.0,90157735.0,33409905.0,24966475.0,241976301.0,104794634.0,34667007.0,429935856.0,140915532.0
2022-09-30,2.955748e+10,3.652476e+08,2.412578e+10,47885407.29,7.687401e+08,1.009544e+09,2.471238e+09,1.112067e+09,NaN,1.935133e+09,...,42545499.0,661635739.0,90157735.0,33409905.0,19096016.0,241976301.0,104794634.0,34667007.0,429935856.0,140915532.0
2022-10-31,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0
2022-11-30,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0
2022-12-31,3.050465e+10,3.720029e+08,2.544164e+10,43977765.59,7.650997e+08,6.180507e+08,2.474793e+09,1.148856e+09,NaN,1.938411e+09,...,44558144.0,710433597.0,103698916.0,104526359.0,19096016.0,241976301.0,119456669.0,39789178.0,638897118.0,134629385.0

In [2]:
import pandas as pd
df = pd.DataFrame({"a":[1,2,3],"b":[2,3,4]})
df2 = pd.DataFrame({"c":[15,24,33],"d":[22,32,41]})

df.pct_change()

   a  b
0  1  2
1  2  3
2  3  4